body{
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.user-mat-menu .mat-list .mat-list-item .mat-line{
    color: #212121!important;
    font-size: 14px;
}

.field-detail{
    width: 100%;
}